<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Tech Blog</title>
  </head>

  <header>
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav">
          <li class="nav-item">
            <a href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a href="/dashboard">Dashboard</a>
          </li>
          {{#if session.loggedIn}}
          <li class="nav-item">
            <a href="/logout" id="logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a href="/login" id="login">Login</a>
          </li>
          {{/if}}
        </ul>
            <h1 class="card-title" href="/"><span>The Tech Blog</span></h1>
      </div>
    </div>
</header>

  <body>
    {{{body}}}
  </body>

  <footer>
  </footer>
        <script src="/javascript/logout.js"></script>
</html>