<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Tech Blog</title>
  </head>
  <body>
    <container>
      <row>
        <header class="header">
          <col>
            <h1 class="title">
              <a href="/">The Tech Blog</a>
            </h1>
          </col>
          <col>
            <nav>
              <ul>
                {{#if loggedIn}}

                <li>
                  <a href="/blog">Home</a>
                </li>
                <li>
                  <a href="/classroom">Dashboard</a>
                </li>
                    <li>
                        <a id="logout">Log Out</a>
                    </li>
                {{else}}
                    <li>
                        <a href="/login"></a>
                    </li>
                {{/if}}
              </ul>
            </nav>
          <col>
        </header>
      </row>
    </container>
  <main>
    {{{body}}}
  </main>

  <footer>
  </footer>
    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}
</html>