<container>
  <row>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><span>Create Post</span></h3>
      </div>
      <div class="card-body">
        <form class="create-post-form">
          <ul id="create-post-form" class="login-form">
            <li>
              <label for="title">Title</label><br>
              <input type="text" id="title" />
            </li>
            <li>
              <label for="content_text"></label><br>
              <textarea minlength="5" type="text" name="content_txt" id="content_txt" cols="30" rows="10"></textarea>
            </li>
            <li>
              <div class="button">
                <button class="login-btn" id="create-post-btn" type="submit">Create Post</button><br><br>
              </div>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </row>
</container>

<script src="/javascript/posts.js"></script>