<container>
    <row>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{form_title}}</h3><br>
            </div>
            <div class="card-body">
                <ul class="login-form">
                   
                    {{#each posts}}
                        {{>post}}   
                    {{/each}} 
                    
                    <li>
                        <div class="button">
                            <button class="post-btn"> + New Post</button><br><br>
                            <a class="nav-link login" href="/create-post">Create Post</a>
                        </div>
                    </li>
                    <li>
                        <div class="button">
                            <button class="post-btn"> + Edit Post</button><br><br>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </row>
</container>