<container>
    <row>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{form_title}}</h3><br>
            </div>
            <div class="card-body">
                <ul class="login-form">
                    {{#each posts}}
                        {{>post}}   
                    {{/each}} 
                        <li>
                            <div class="button">
                                <a class="post-btn" href="/create-post"> + New Post</a><br><br>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
    </row>
</container>