<main class="col-12 col-lg-9 d-flex flex-column">
  <div class="m-5 row justify-content-around">
    <div class="col-12 col-md-6 col-xl-3 mb-3">
      <div class="card">
        <h4 class="card-header bg-dark text-light">Login</h4>
        <ul id="login-form" class="login-form">
          <form class="login-form">
            <li>
              <label for="email-login">username:</label>
              <input type="text" id="username-login" />
            </li>
            <li>
              <label for="password-login">password:</label>
              <input type="password" id="password-login" />
            </li>
            <li>
              <button type="submit">login</button>
            </li>
            <li>
              <a href="/register">signup instead</button>
            </li>
          </form>
        </ul>
      </div>
    </div>
  </div>
</main>
  
<script src="/javascript/login.js"></script>