<container>
<row>
<div class="card" style="width: 85%;">
  <div class="card-header">
        <h3 class="card-title"><span>Login</span></h3>
  </div>
  <div class="card-body">
<ul id="login-form" class="login-form">
          <form class="login-form">
            <li>
              <label for="username-login">Username:</label><br>
              <input type="text" id="username-login" />
            </li>
            <li>
              <label for="password-login">Password:</label><br>
              <input type="password" id="password-login" />
            </li>
            <li>
              <button class="login" type="submit">Login</button>
            </li>
            <li>
              <a href="/register">Signup instead</button>
            </li>
          </form>
        </ul>


    <a href="#" class="login">Submit</a>
  </div>
</div>
</row>
  </container>
<script src="/javascript/login.js"></script>