{{> post-info post}}
<div>
<form class="comment-form priya-hero-form">
  <div>

    <textarea required minlength="3" name="comment-body" id="comment_body"></textarea>

  </div>

  <div>
    <button class="hero-form" type="submit">add comment</button>
  </div>
</form>

<div class="comments">
    {{#each post.comments as |comments|}}
{{> comments comments}}
    {{/each}}
</div>
</div>
<script src="/javascript/comment.js"></script>