{{> single-post-part singlePost}}
<div>
  <div class="login-form">
    <textarea required minlength="3" name="comment-body" id="comment_body"></textarea>
  </div>
  <div class="button">
    <button id="create-comment-btn">add comment</button>
  </div>
  <div class="comments">
    {{#each postComments as |comments|}}
    {{> comments comments}}
    {{/each}}
  </div>
</div>
<script src="/javascript/comment.js"></script>